{% extends 'main.html' %}
{% block content %}
<div>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="POST" action="">
        {% csrf_token %}
        {% if form %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        {% else %}
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password">
            <input type="submit" value="Login">
        {% endif %}
    </form>

    <p>
        {% if form %}
            Already have an account? <a href="{% url 'login' %}">Login</a>
        {% else %}
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </p>
</div>
{% endblock %}
